

* {
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-link:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(131, 92, 138);
  box-shadow: 2px 3px 3px rgba(227, 180, 233, 0.938);
  border-radius: 0.5rem;
}

.btn-purple {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  box-shadow: 2px 3px 3px rgba(216, 141, 226, 0.938);
}
.btn-purple:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(131, 92, 138);
  box-shadow: 2px 3px 3px rgba(227, 180, 233, 0.938);
}

.card,
.contact,
.modal-content {
  background-image: url(./fondo1.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 2px 3px 3px rgba(216, 141, 226, 0.938);
}

.card {
  height: 29rem;
  width: 15rem;
}

#gameModalImg {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 8px;
}

.contact {
  margin: 19%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact input {
  margin: 2% 50%;
}
.contact button {
  margin: 0 50%;
}
